.support{
    background-color: black;
    position: fixed;
}

.head {
    color:gray;
    text-align: left;
    padding-left: 10px;
  }
  .help{
    height: 380px;
    width: 1200px;
    padding-left: 330px;
  }

  .accordion-text {
    font-family:Arial, Helvetica, sans-serif;
    
  }
  
  .accordion-text-green {
    color:black;
    font-weight: bold;
    font-size: larger;
  }
  